* {
    margin: 0px;
    padding: 0px;
    font-family:'Noto Sans', sans-serif;
    font-weight: bold;
}

.heading {
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    background-color: rgb(60, 60, 203);
    font-family: 'Oswald', sans-serif;
    color: white;
}


.head {
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: rgb(60, 60, 203);
}

.user {
    height: 200px;
    width: 150px;
    
}

.container {
    background-color: rgb(232, 228, 228);
    height: 50%;
}

.left {
    float: left;
    text-align: center;
    width: 20%;

}

.text {
    font-size: 20px;
    margin-top: 15px;
}

button {
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button:hover {
    background-color: rgb(199, 196, 196);
}

button:active {
    background-color: black;
    color: white;
}




.middle {
    width: 55%;
    float: left;
    overflow: hidden;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 0px 10px 0px 10px;
    font-size: 20px;

}

.pag {
    text-align: center;
}

a {
    padding-right: 20px;
    text-decoration: none;
}

.active {
    text-decoration: underline;
}

.book {
    height: 200px;
    width: 200px;
    margin: 0px 35px 0px 35px;
    border-radius: 20px;
    border: 2px solid black;
}


.right {
    width: 20%;
    float: left;
    padding-left: 25px;
    font-size: 20px;
    overflow: hidden;
}

@media only screen and (max-width:1520px) {
    .book {
        height: 150px;
        width: 150px;
    }
}

@media only screen and (max-width:1250px) {
    .book {
        height: 100px;
        width: 100px;
    }
}
.p{
    padding: 10px;
    margin: 10px;
}